<!--These styles are clumsily injected, to be replaced by sass variables-->

%style{:type => 'text/css'}
  body { background: #{current_group.primary_mid};}
  a {color: #{current_group.primary_1};}
  a:hover {color: #{current_group.primary_mid};}
  \#sidebar h3 { color: #{current_group.primary_1};}
  \#container { background: #{current_group.primary_2};}
  \#wrapper { background: #{current_group.primary_2};}
  \#header-container { 
  -if current_group.header_bg_colour?
    background-color: #{current_group.header_bg_colour};
  -if current_group.header_bg_image?
    background-image:url(#{current_group.header_bg_image});
    background-repeat:repeat-x;
  -if !current_group.header_bg_colour? && !current_group.header_bg_image?
    background-color: #{current_group.primary_mid};
  }
  \#top-bar .entry #search-field{ background-color: #{current_group.primary_2};}
  \#top-bar .entry #search-submit{ background-color: #{current_group.primary_1}; border: 1px outset #{current_group.primary_mid};}
  \.search input{ background-color: #{current_group.header_accent_colour};}
  \#top-bar .entry .reputation{ background-color: #{current_group.primary_1};}
  \#top-bar .entry .gravatar{ border:1px solid #{current_group.primary_1};}
  \#main-bar ul li strong { color: #{current_group.primary_mid};}
  \#main-bar ul li {
  -if current_group.mainbar_bg?
    background-color: #{current_group.mainbar_bg};
  -if !current_group.mainbar_bg?
    background-color: #{current_group.primary_1};
  }
  \#main-bar ul li:hover{ background-color: #{current_group.primary_2};}
  \#main-bar ul li.ask_question{ background-color: #{current_group.ask_question_bg};}
  \#main-bar ul li.ask_question:hover{ background-color: #{current_group.ask_question_bg_over};}

  \ul.network_items li.item{ background-color: #{current_group.primary_mid};}

  \ul.network_items li.item .group{ background-color: #{current_group.primary_2};}
  \ul.network_items li.item .owner{ background-color: #{current_group.primary_2};}
  \ul.network_items li.item .group .button{ background-color: #{current_group.ask_question_bg};}

  \ul.network_items li.item .vote-box{ background-color: #{current_group.primary_2};}

  \.tag-list .tag a:link, .tag-list .tag a:active, .tag-list .tag a:visited { background-color: #{current_group.primary_1};}
  \.tag-list .tag a:hover{ background-color: #{current_group.primary_mid};}
  \.secondary_navigation ul li{ background-colour: #{current_group.primary_mid};}
  \.secondary_navigation ul li a:hover{ background: #{current_group.ask_question_bg};}
  \#footer_container{border-top:4px solid #{current_group.primary_1};}
  \.create_group_button{ background-color: #{current_group.primary_mid};}
  \.create_group_button:hover{ background-color: #{current_group.primary_1};}
<!--//-->


