-content_for :head do
  -if !current_group.default_tags.empty?
    %meta{:name => "keywords", :content => current_group.default_tags.join(", ")}
  %meta{:name => "description", :content => markdown(current_group.description).gsub(/<\/?[^>]*>/, "")[0, 255] }


-content_for :subtabs do
  .navtitle
    = h('What do you think...?')
    -if @questions
      == (#{@questions.total_entries})

  %ul{:style => "display: inline"}
    %li.activity
      = link_to t("questions.index.active"), root_path(:tab=>"activity"), :title => t("questions.index.active_tooltip"), :rel => "nofollow"
    %li.hot
      = link_to t("questions.index.hot"), root_path(:tab=>"hot"), :title => t("questions.index.hot_tooltip"), :rel => "nofollow"

-if current_group.name == "think"
  .something
    All the latest thoughts from the entire network  

-if current_group.name != "think"
  .something
    A list thoughts from the [think]groups network matching the default tags of the current group, if you just want to see this groups thoughts, click on the group thoughts tab above

-if current_group.name == "think"
  %ul.network_items#questions
    -@think_network.each do |question|
      = render :partial => "questions/question_network", :locals => {:question => question}

-if current_group.name != "think" && !current_group.isolate
  %ul.network_items#questions
    -@group_network.each do |question|
      = render :partial => "questions/question_network", :locals => {:question => question}
 
-if current_group.isolate?
  -@questions.each do |question|
    = render :partial => "questions/question", :object => question

-content_for :sidebar do
  -if !current_group.isolate && AppConfig.enable_groups
    .block{:style => "background: transparent"}
      .create_group_button
        = link_to t(".create_own_site"), new_group_path, :id => "create_own_site"

  -if !logged_in?
    .block.notice
      = render :partial => "shared/layout/notice"

  -if current_group.name != "think"
    -if current_group.default_tags?
      .block
        %h3
          = h('Group Interests')
        .sidebar-block
          %div.tag_list
            -current_group.default_tags[0,10].each do |tag|
              %div.tag
                = link_to(tag, questions_url(:tags => tag))
        .clear

  -if current_group.name == "think"
    .block
      %h3
        = h('Group Interests')
      %p
        = h('Think shows all items')

  //-current_group.widgets.each do |widget|
  //  .widget.block{:id => widget.name}
  //    = render :partial => widget.partial_name, :locals => {:widget => widget}

  //-if logged_in?
  //  = render :partial => "shared/preferred_tags"
  //-if AppConfig.enable_i18n
  //  = render :partial => "shared/language_filter"


