.group
  On this page we use HEX colours, please remeber to prefix with a "#", delete contents for default colour

.group
  = f.label :theme, t(:theme, :scope => "activerecord.attributes.header", :default => "Body" ), :class => "label"
  = h('Body')
  = text_field_tag "group[body_bg_colour]",  @group.body_bg_colour
  .swatch{:style => "background: #{current_group.body_bg_colour}"}

.group
  = f.label :theme, t(:theme, :scope => "activerecord.attributes.header", :default => "Header" ), :class => "label"
  = h('BG Colour')
  = text_field_tag "group[header_bg_colour]",  @group.header_bg_colour
  = h('Will create ribbon')
  .swatch{:style => "background: #{current_group.header_bg_colour}"}

.group  
  = h('BG Image')
  = text_field_tag "group[header_bg_image]",  @group.header_bg_image
  = h('Just leave blank if you want the colour ')
  .swatch{:style => "background-image:url(#{current_group.header_bg_image})"}

.group
  = f.label :theme, t(:theme, :scope => "activerecord.attributes.header", :default => "Header Buttons" ), :class => "label"
  = h('Header Accents')
  = text_field_tag "group[header_accent_colour]",  @group.header_accent_colour
  = h('Usually the same as the body bg colour, used for search field bg & tab highlights')
  .swatch{:style => "background:#{current_group.header_accent_colour}"}

.group
  = h('Main Bar')
  = text_field_tag "group[mainbar_bg]",  @group.mainbar_bg
  = h('Usually the same as the primary')
  .swatch{:style => "background:#{current_group.mainbar_bg}"}

.group
  = h('Main Bar Over')
  = text_field_tag "group[mainbar_bg_over]",  @group.mainbar_bg_over
  = h('Usually the same as the secondary')
  .swatch{:style => "background:#{current_group.mainbar_bg_over}"}

.group
  = h('Main Bar Select')
  = text_field_tag "group[mainbar_bg_select]",  @group.mainbar_bg_select
  = h('Usually the same as the body bg colour')
  .swatch{:style => "background:#{current_group.mainbar_bg_select}"}



.group
  = f.label :theme, t(:theme, :scope => "activerecord.attributes.primary_colours", :default => "Colours" ), :class => "label"
  = h('Suasage')
  = text_field_tag "group[primary_colour]",  @group.primary_colour
  .swatch{:style => "background:#{current_group.primary_colour}"}



.group
  = h('Secondary')
  = text_field_tag "group[secondary_colour]",  @group.secondary_colour
  .swatch{:style => "background:#{current_group.secondary_colour}"}

.group
  = f.label :theme, t(:theme, :scope => "activerecord.attributes.group", :default => "Theme" ), :class => "label"
  = f.select :theme, AVAILABLE_THEMES, {}, :class => "choose_theme"
  = h('NB: Colours above will override colours in theme')

.group.navform
  = f.submit t('scaffold.update')
