.group
  On this page we use HEX colours, please remember to prefix with a "#", delete contents for default colour, you can write custom CSS as well on the next page if required.

.group
  %div.label
    = h('Colour Hierarchy')
  %div.label-notes
    = h('Most of the interface is defined using only three colours, try http://meyerweb.com/eric/tools/color-blend/')
.group
  = h('Primary One')
  = text_field_tag "group[primary_1]",  @group.primary_1
  = h('Used for button backgrounds (#2C5883)')
  .swatch{:style => "background: #{current_group.primary_1}"}

.group
  = h('Primary Mid')
  = text_field_tag "group[primary_mid]",  @group.primary_mid
  = h('Header & Footer Container  (#4C82C4)')
  .swatch{:style => "background: #{current_group.primary_mid}"}

.group
  = h('Primary Two')
  = text_field_tag "group[primary_2]",  @group.primary_2
  = h('Content container, bg for text fields, and hover state for buttons')
  .swatch{:style => "background: #{current_group.primary_2}"}



.clear

.group
  %div.label
    = h('Colour Hierarchy')
  = h('Header BG')
  = text_field_tag "group[header_bg_colour]",  @group.header_bg_colour
  = h('This defaults to primary mid if left blank')
  .swatch{:style => "background: #{current_group.header_bg_colour}"}

.group  
  = h('Header BG Image')
  = text_field_tag "group[header_bg_image]",  @group.header_bg_image
  = h('Just leave blank if you want the colour ')
  .swatch{:style => "background-image:url(#{current_group.header_bg_image})"}

.group
  = h('Question Button')
  = text_field_tag "group[ask_question_bg]",  @group.ask_question_bg
  = h('The question button background, often a contrasting colour to primary ')
  .swatch{:style => "background:#{current_group.ask_question_bg}"}



.group
  = h('Main Bar')
  = text_field_tag "group[mainbar_bg]",  @group.mainbar_bg
  = h('Usually the same as the primary 1')
  .swatch{:style => "background:#{current_group.mainbar_bg}"}

.group
  = h('Main Bar Over')
  = text_field_tag "group[mainbar_bg_over]",  @group.mainbar_bg_over
  = h('Usually the same as the primary 2')
  .swatch{:style => "background:#{current_group.mainbar_bg_over}"}




.group
  = f.label :theme, t(:theme, :scope => "activerecord.attributes.group", :default => "Theme" ), :class => "label"
  = f.select :theme, AVAILABLE_THEMES, {}, :class => "choose_theme"
  = h('NB: Colours above will override colours in theme')

.group.navform
  = f.submit t('scaffold.update')
